<div class="p-d-flex p-ai-center p-flex-column container">
  <img class="logo" src="../assets/images/logo/JA_bmk_rgb_pos.png" alt="logo_jet_aviation">
  <div class="menu-buttons-container p-d-flex p-ai-center p-flex-column ">
    <p-button class="menu-buttons" label="New request"></p-button>
    <p-button class="menu-buttons" label="Key back"></p-button>
    <p-button class="menu-buttons" label="Spare key out"></p-button>
    <p-button class="menu-buttons" label="Spare key back"></p-button>
  </div>
</div>