<div class="container p-d-flex p-ai-center p-flex-column p-mt-1">
    <p>Standard locker attribution form</p>
    <span class="p-float-label p-mt-5">
        <input id="requester-name" type="text" pInputText> 
        <label for="requester-name">Name</label>
    </span>
    <span class="p-float-label p-mt-5">
        <input id="requester-first-name" type="text" pInputText> 
        <label for="requester-first-name">First name</label>
    </span>
    <span class="p-float-label p-mt-5">
        <input id="requester-personal-number" type="text" pInputText> 
        <label for="requester-personal-number">Personal number</label>
    </span>
    <span class="p-float-label p-mt-5">
        <input id="requester-company" type="text" pInputText> 
        <label for="requester-company">Company</label>
    </span>
    <div class="button-container p-d-flex p-jc-around p-mt-5">
        <p-button label="Cancel" class="p-mr-3" [routerLink]="['']"></p-button>
        <p-button label="Ok"></p-button>
    </div>
</div>