body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}
.p-button, .p-button:enabled:hover {
    background-color: #041E42;
    width: 200px;
    border: none;
    font-weight: 500;
}

.p-button-label {
    line-height: 1em;
}

.button-container .p-button, .button-container .p-button:enabled:hover {
    width: 130px;
}

:host ::ng-deep button {
    margin-bottom: 1em;
}

p{
    font-size: 1.5em;
}