/* You can add global styles to this file, and also import other style files */
.p-button, .p-button:enabled:hover {
    background-color: #041E42;
    width: 200px;
    border: none;
}

.p-button-label {
    line-height: 1em;
}

.button-container .p-button, .button-container .p-button:enabled:hover {
    width: 130px;
}